*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f0a9c9;
}

.container{
    border: 2px solid red;
    height: 500px;
    width: 70%;
    margin: auto;
    background-color: beige;
}

.pageTitle{
    display: flex;
    text-align: center;
    justify-content: center;
}

.babyTitle{
    border-left: 3px solid black;
    padding-left: 16px;
    margin-left: 32px;
    padding-top: 10px;
}

.sushiImg{
    border: 2px solid red;
    height: 600px;
    width: 300px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.title{
    color: black;
    text-align: left;

}

.flex{
    display: flex;
    justify-content: space-between;
}

.ansFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    width: 20%;
}

#question{
    text-align: center;
}


#guessResult{
    text-align: center;
}