*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body{
    background-color: #ed778a;
}

.container{
    border: 5px solid #ebbf48;
    border-radius: 24px;
    height: 600px;
    width: 70%;
    margin: auto;
    background-color: #167c9f;
}

.pageTitle{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.babyTitle{
    border-left: 5px solid #ebbf48;
    padding-left: 16px;
    margin-left: 32px;
    padding-top: 16px;
    width: 18%;
    text-align: left;
}

.sushiImg{
    height: 700px;
    width: 400px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
}


.flex{
    display: flex;
    justify-content: space-between;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 24px;
    padding-bottom: 8px;
    
}

.ansFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    font-size: 17pt;
   
}

button{
    width: 25%;
    background-color: #ed778a;
    height: auto;
    border-radius: 24px;
    border:  #ed778a 4px solid;
    font-size: 16pt;
    padding-bottom: 4px;
    padding-top: 4px;
    font-weight: 700;
    margin-bottom: 16px;
}

button:hover {
    background-color:#ebbf48;
    border:  #ebbf48 4px solid;
    color: #167c9f;
   
}

#question{
    text-align: center;
    margin-left: 48px;
    margin-right: 48px;
    border-top: 5px solid #ebbf48;
}


#guessResult{
    text-align: center;
}

h1{
    font-weight: 900;
    font-size: 32pt;
}

h4{
    font-weight: 100;
    font-size: 12pt;
}

#question{
    font-weight: 100;
    font-size: 22pt;
    padding-top: 32px;
    padding-bottom: 16px;
    margin: 0;
}

h3{
    font-weight: 100;
    font-size: 22pt;
}

.bgImage{
    height: 100%;
    width: 100%;
}
